{% extends "base.html.twig" %}



{% block body %}

    <div class="container d-flex flex-column justify-content-center">

        <div class="bg-secondary bg-opacity-25 m-5 p-3 rounded-3">
            <h2>Mes classes :</h2>
            
            <div class="d-flex justify-content-around">
                {% for class in classes %}
                    <a class="btn class-button" href="/class/{{class[0]}}" style="color:white;"><div class="rounded-3 p-2" style="background-color:{{class[1]}}">
                        {{ class[0] }}
                    </div>
                    </a>
                {% endfor %}

            </div>

        </div>
    </div>
{% endblock %}